@import 'variables';

.loader-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, $chamoisee, $lion);
}

.loader-container::after {
    content: " ";

    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100001;

    display: block;

    width: calc(100% - $grup04);
    height: 224px;
    margin: $grup02;

    background-image: url("~/assets/images/svg/HeaderStars.svg");
    background-repeat: repeat-x;
    mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.02) 10%,
        rgba(0, 0, 0, 0.05) 20%,
        rgba(0, 0, 0, 0.1) 30%,
        rgba(0, 0, 0, 0.2) 40%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.4) 60%,
        rgba(0, 0, 0, 0.5) 70%,
        rgba(0, 0, 0, 0.6) 80%,
        rgba(0, 0, 0, 0.7) 90%,
        rgba(0, 0, 0, 1) 100%
    );
}

.loader-container > svg {
    fill: #443433;

    width: $grup05;
    height: $grup05;

    animation: logoAnimation 2.5s ease-in-out infinite;
}

#hyphen {
    transform: translateX(8px);

    animation: hyphenAnimation 2.5s ease-in-out infinite;
}

#bracket {
    transform: translateX(15px);

    animation: bracketAnimation 2.5s ease-in-out infinite;
}

#Bbumps {
    transform: translateX(-9px);

    animation: bbumpsAnimation 2.5s ease-in-out infinite;
}

#Bbar {
    transform: translateX(-5.5px);

    animation: bbarAnimation 2.5s ease-in-out infinite;
}

@keyframes hyphenAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(8px);
    }
    70% {
        transform: translateX(8px);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bracketAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(15px);
    }
    70% {
        transform: translateX(15px);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bbumpsAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-9px);
    }
    70% {
        transform: translateX(-9px);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bbarAnimation {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-5.5px);
    }
    70% {
        transform: translateX(-5.5px);
    }
    80% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes logoAnimation {
    0% {
        transform: 
            rotate(0deg)
            scale(1);
    }
    5% {
        transform: 
            rotate(0deg)
            scale(1);
    }
    10% {
        transform: 
            rotate(-5deg)
            scale(1);
    }
    40% {
        transform: 
            rotate(455deg)
            scale(0.9);
    }
    45% {
        transform: 
            rotate(450deg)
            scale(0.85);
    }
    55% {
        transform: 
            rotate(450deg)
            scale(0.85);
    }
    60% {
        transform: 
            rotate(445deg)
            scale(0.9);
    }
    90% {
        transform: 
            rotate(725deg)
            scale(1);
    }
    95% {
        transform: 
            rotate(720deg)
            scale(1);
    }
    100% {
        transform: 
            rotate(720deg)
            scale(1);
    }
}